html {
  scrollbar-gutter: stable;
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff-2") format("woff-2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dashboard {
  background-color: #fafbff;
}

.dashboard__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.dashboard__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.dashboard__title span {
  font-size: 20px;
  margin-left: 5px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  display: inline-block;
}

.dashboard__user {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.burger {
  display: none;
  background: transparent;
  z-index: 13;
}

.user__name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.user__position {
  font-size: 12px;
  line-height: 18px;
  color: #757575;
}

.left__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
  padding: 36px 28px 76px;
  max-width: 306px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0 10px 60px 0px rgba(226, 236, 249, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.right__item {
  padding: 40px 70px;
  max-width: 100%;
  width: 100%;
}

.logo {
  max-width: 195px;
  width: 100%;
  position: relative;
}

.logo:before {
  position: absolute;
  content: "v.01";
  font-size: 10px;
  font-weight: 500;
  color: #838383;
  width: 18px;
  height: 15px;
  right: -22px;
  bottom: 8px;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.tabs__header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
  gap: 14px;
  cursor: pointer;
  color: #9197B3;
}

.tabs__header-item.active {
  color: #fff;
  background-color: #5932EA;
}

.tabs__header-item.active .tabs__arrow path {
  stroke: #fff;
}

.tabs__arrow {
  margin-left: auto;
}

.tabs__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  padding: 30px 38px 40px;
  max-width: 968px;
  width: 100%;
}

.tabs__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 874px;
  width: 100%;
}

.tabs__title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 7px;
}

.tabs__subtext {
  font-size: 14px;
  color: #16C098;
}

.tabs__search {
  position: relative;
  max-width: 216px;
  width: 100%;
  margin-top: 6px;
}

.tabs__search img {
  position: absolute;
  left: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tabs__input {
  font-size: 12px;
  line-height: 18px;
  padding: 10px 10px 10px 43px;
  background-color: #F9FBFF;
  border-radius: 10px;
  color: #292D32;
  font-family: "Poppins", sans-serif;
}

.tabs__input::-webkit-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs__input::-moz-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs__input:-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs__input::-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs__input::placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.tabs__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3px;
}

.tabs__info {
  font-size: 14px;
  line-height: 21px;
  color: #B5B7C0;
  font-weight: 500;
}

.table {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
}

.table__wrapper {
  max-width: 100%;
  width: 100%;
}

.table th {
  color: #B5B7C0;
  padding: 14px 0px;
  text-align: left;
  border-bottom: 1px solid #EEE;
}

.table th:last-child {
  text-align: center;
}

.table th:nth-child(n+3) {
  -webkit-transform: translate(29px, 0px);
      -ms-transform: translate(29px, 0px);
          transform: translate(29px, 0px);
}

.table th:nth-child(5) {
  -webkit-transform: translateX(-6px);
      -ms-transform: translateX(-6px);
          transform: translateX(-6px);
}

.table th:nth-child(6) {
  -webkit-transform: translateX(-9px);
      -ms-transform: translateX(-9px);
          transform: translateX(-9px);
}

.table td {
  border-bottom: 1px solid #EEE;
  color: #292D32;
  padding: 17px 0 19px;
}

.table td:nth-child(n+3) {
  -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
          transform: translateX(29px);
}

.table td:nth-child(5) {
  -webkit-transform: translateX(-6px);
      -ms-transform: translateX(-6px);
          transform: translateX(-6px);
}

.table td:nth-child(6) {
  -webkit-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
          transform: translateX(-4px);
}

.table td span {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.table__active {
  background-color: rgba(22, 192, 152, 0.2196078431);
  color: #008767;
  border-color: #00b087;
}

.table__inactive {
  background-color: #ffc5c5;
  color: #DF0404;
  border-color: #DF0404;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  font-size: 12px;
  line-height: 1;
  color: #404B52;
  cursor: pointer;
  -webkit-transform: translateX(6px);
      -ms-transform: translateX(6px);
          transform: translateX(6px);
}

.pagination__btn {
  border: 1px solid #eee;
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 24px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 500;
}

.pagination__btn.active {
  color: #fff;
  background-color: #5932EA;
}

.pagination__btn--dots {
  background-color: transparent;
  width: 9px;
  border: none;
}

.pagination__btn-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1449.98px) {
  .tabs__content {
    max-width: 100%;
  }

  .tabs__head {
    max-width: 100%;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1349.98px) {
  .right__item {
    padding: 40px 20px;
  }

  .table th:nth-child(n+3) {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .table th:nth-child(5) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .table th:nth-child(6) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .table td:nth-child(n+3) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .table td:nth-child(5) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .table td:nth-child(6) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1149.98px) {
  .dashboard__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .left__item {
    position: fixed;
    height: 100vh;
    z-index: 10;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }

  .left__item.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .tabs__content {
    margin: 50px auto 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 1149.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #131418;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #131418;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #131418;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #131418;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 768px) {
  .tabs__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .tabs__content {
    padding: 25px;
  }

  .tabs__content-item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .tabs__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .tabs__footer {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .table__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .table__wrapper::-webkit-scrollbar {
    height: 10px;
  }

  .table__wrapper::-webkit-scrollbar-track {
    background: transparent;
  }

  .table__wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid #d0d6e4;
  }

  .table th {
    padding-right: 15px;
  }

  .table td {
    padding-right: 15px;
  }

  .table td span {
    padding: 4px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}